services:
  android-emulator:
    container_name: agent-android-emulator
    image: budtmo/docker-android:emulator_11.0
    privileged: true
    ports:
      - 6080:6080
      - 5555:5555
    environment:
      DEVICE: "Samsung Galaxy S10"
      WEB_VNC: "true"
      APPIUM: "false"
      EMULATOR_TIMEOUT: "900"
      RELAXED_SECURITY: "true"
      EMULATOR_ARGS: >
        -gpu swiftshader_indirect
        -no-snapshot
        -noaudio
        -no-boot-anim
        -memory 4096
        -cores 4
    healthcheck:
      test: [ "CMD-SHELL", "adb shell getprop sys.boot_completed | grep 1" ]
      interval: 20s
      timeout: 10s
      retries: 30
    shm_size: '4gb'

  maestro-runner:
    build: .
    image: steveceto/maestro-runner:latest
    container_name: maestro-tester
    depends_on:
      android-emulator:
        condition: service_healthy
    volumes:
      - .:/app
    command: /app/run_tests.sh
