services:
  android-emulator:
    container_name: android-emulator
    image: budtmo/docker-android:emulator_11.0
    privileged: true
    ports:
      - 6080:6080
      - 5554:5554
      - 5555:5555
    environment:
      DEVICE: "pixel"
      WEB_VNC: "true"
      APPIUM: "false"
      EMULATOR_TIMEOUT: "900"
      RELAXED_SECURITY: "true"
      EMULATOR_ARGS: "-gpu swiftshader_indirect -no-snapshot -noaudio -no-boot-anim"
    shm_size: '4gb'
  maestro-runner:
    build: .
    image: steveceto/maestro-runner:latest
    container_name: maestro-tester
    command: /app/run_tests.sh
    depends_on:
      android-emulator:
        condition: service_healthy
      wiremock:
        condition: service_started

  wiremock:
    image: wiremock/wiremock:latest
    container_name: wiremock
    ports:
      - "8080:8080"
    volumes:
      - ./wiremock:/home/wiremock
